* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 7rem;
  background: linear-gradient(to right, #00aaff, #00ff6c);
  text-align: center;
}
header h1 {
  color: rgb(36, 5, 211);
  padding-top: 35px;
}
.underrubrik {
  height: 75px;
  background-color: lightblue;
  line-height: 75px;
}

.subheading {
  display:flex;
  justify-content: space-between;
}

.month-container {
  display: flex;
  flex-direction: row;
  width: 20rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.month-container h1 {
  color: black;
  font-size: 40px;
  padding: 5px 25px 5px 25px;
}

.week-days {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.week-days  {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.week-days h3 {
  font-size: 20px;
  padding-left: 20px;
}

header h1 {
  color: rgb(36, 5, 211);
  padding-top: 35px;
  height: 3rem;
}

aside {
  width: 20rem;
  height: 100vh;
  background-color: #f5f5f5;
  float: left;
  margin-right: 0.5rem;
}

main {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.welcomeDiv {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.localTime {
  font-size: 45px;
}

.dayToday {
  font-size: 30px;
}

.date {
  font-size: 30px;
}

/* CALENDER STYLES */
.calenderContainer {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #ffffff;
  margin: 0.5rem;
}

.grid-item {
  color: rgba(0, 0, 0, 0.315);
  height: 6rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.current-month-item {
  color: rgb(0, 0, 0);
}

.highlight-grid-item {
  color: rgb(52, 38, 253);
  background-color: #f8f7f7;
  border-radius: 1rem;
}

.todo-count {
  padding-top: 10px;
  font-size: 1rem;
}

/* ToDo */

.todocontainer {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-block {
  display: none;
  top: 5rem;
  flex-direction: column;
}

.todoheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #00aaff;
  height: 2rem;
}
.addTodo-button {
  font-size: 28px;
  cursor: pointer;
}
