@media screen and (max-width: 707px) {
  aside {
    float: none;
    width: 100%;
  }

  #month-text {
    font-size: 2rem;
  }

  .text-ram {
    display: none;
  }

  .profil-över {
    display: none;
  }
  .titel-kalender {
    font-size: 1.5rem;
  }
}
