@media screen and (max-width: 707px) {
  aside {
    float: none;
    width: 100%;
  }

  #month-text {
    font-size: 2rem;
  }

  .text {
    display: none;
  }
  .profile-info {
    display: none;
  }
  .button-div {
    display: none;
  }
  .titele-calander {
    font-size: 1.5rem;
    margin-left: 100%;
  }
}
