@media screen and (max-width: 1000px) {
  .month-btn {
    padding: 1rem;
  }

  #month-text {
    font-size: 2rem;
  }

  .todo-count {
    overflow: visible;
    white-space: nowrap;
  }

  .week-days-full {
    display: none;
  }

  .week-days-small {
    display: grid;
  }

  .week-days-small h3 {
    text-align: center;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }

  .week-days h3 {
    padding-left: 0;
  }

  .profil-info {
    display: none;
  }
  .text-ram {
    display: none;
  }
  .button-div {
    display: none;
    margin-right: 25px;
  }
}
